<div class="container">
    <h1 class="itemTitulo">Novo Utilizador - Contas</h1>
    <form class="itemForm" [formGroup]="UserForm" (ngSubmit)="novaConta(UserForm.value)">
        <div class="main-registo">
            <h4>Email</h4>
            <input type="text" formControlName="email" placeholder="Insira aqui o email...">
        </div>
        <div class="alerta" *ngIf="UserForm.controls['email'].hasError('required') && UserForm.controls['email'].touched">
            Email obrigatório
        </div>
        <div class="alerta" *ngIf="!UserForm.controls['email'].hasError('required') && UserForm.controls['email'].hasError('email')">
            Email inválido
        </div>
        <div class="alerta" *ngIf="!UserForm.controls['email'].hasError('required') && !UserForm.controls['email'].hasError('email') && UserForm.controls['email'].hasError('ValidEmail')"> 
            Já existe conta com esse email
        </div>
        <br>
        <div class="main-registo">
            <h4>Username</h4>
            <input type="text" formControlName="username" placeholder="Insira aqui a password..."> 
        </div>
        <div class="alerta" *ngIf="UserForm.controls['username'].hasError('required') && UserForm.controls['username'].touched">
            Username obrigatório
        </div>
        <div class="alerta" *ngIf="!UserForm.controls['username'].hasError('required') && UserForm.controls['username'].hasError('minlength')">
            Mín. 5 caracteres
        </div>        
        <div class="alerta" *ngIf="!UserForm.controls['username'].hasError('required') && !UserForm.controls['username'].hasError('minlength') && UserForm.controls['username'].hasError('ValidUsername')">
            Já existe conta com esse username
        </div>
        <br>
        <div class="registo-btn">
            <button type="submit" name="button" class="btn" [disabled]="!UserForm.valid">Nova Conta</button>
            <a class="btn" (click)="clearDados()">Limpar</a>
        </div>
        <br>
    </form>
</div>