<div class="wrapper">
  <!-- cabeçalho -->        
  <header class="main-header">
      <!-- menu de navegação -->
      <nav class="main-nav">
          <ul>
              <li><a routerLink="/login">LOGIN</a></li>
              <li><a href="http://www.quintasjose.com/">SITE QSJ</a></li>
          </ul>
      </nav>
  </header>
  
  <!-- container principal -->
  <section class="container">
      <router-outlet></router-outlet>
  </section>

  <!-- rodapé -->
  <footer>
      <p>QSJ - Quinta de São José</p>
  </footer>
</div>