<div class="container">
	<h1 class="itemTitulo">Novo Registo - Encomendas</h1>
	<h4>Modelos Caixa/Garrafa Existentes</h4>
	<select (change)="onChange($event.target.value)" style="background: #eaeaae; color: #27270c;">
	   <option value="">Ver Modelos Existentes</option>
	   <option value="Caixa">Caixas</option>
	   <option value="Garrafas">Garrafas</option>
	</select>
	<div style="display: grid; grid-gap: 5px" *ngIf="modeloCaixaSelecionado">
		<form [formGroup]="FiltroCaixaForm" (ngSubmit)="pesquisaMarcaCaixa(FiltroCaixaForm.value)">
			<div class="itemNav">
				<select formControlName="material" (change)="onChangeCaixa()" style="background: #eaeaae; color: #27270c;">
					<option [ngValue]="0">Material</option>
					<option *ngFor="let material of materiais" [ngValue]="material">{{material}}</option>
				</select>
				<select formControlName="capacidade" (change)="onChangeCaixa()" style="background: #eaeaae; color: #27270c;">
					<option [ngValue]="0">Capacidade</option>
					<option *ngFor="let capacidade of capacidades" [ngValue]="capacidade">{{capacidade}}</option>
				</select>
				<select formControlName="tipoVinho" (change)="onChangeCaixa()" style="background: #eaeaae; color: #27270c;">
					<option [ngValue]="0">Tipo de Vinho</option>
					<option *ngFor="let tipoVinho of tipoVinhos" [ngValue]="tipoVinho">{{tipoVinho}}</option>
				</select>
				<select formControlName="categoria" (change)="onChangeCaixa()" style="background: #eaeaae; color: #27270c;">
					<option [ngValue]="0">Categoria</option>
					<option value="Normal">S/Categoria</option>
					<option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria}}</option>
				</select>
				<input class="itemInput" type="text" formControlName="marca" placeholder="Insira aqui o nome da marca de vinho a pesquisar...">				
				<button type="submit" class="itemBtn" style="font-size: 11px;" [disabled]="!FiltroCaixaForm.valid">Pesquisar</button>                
				<a class="itemClear" (click)="clearTabelaCaixa()" style="font-size: 11px;">Limpar Pesquisa</a>
			</div>
		</form>		
		<div class="main-table" *ngIf="estadoTabelaCaixa && caixasEVinhos.length > 0">
		   <table>
			  <tr>
					<th>MODELO</th>
					<th>MARCA</th>
					<th>TIPO VINHO</th>
					<th>MATERIAL</th>
					<th>GARRAFAS(QNT)</th>
					<th>CAPACIDADE(/L)</th>
					<th>QUANTIDADE</th>
			  </tr>
			  <tr *ngFor="let caixas of caixasEVinhos | paginate: { id: 'caixas', itemsPerPage: 10, currentPage: p }">
					<td>{{caixas.ID}}</td>
					<td>{{caixas.Marca}}</td>
					<td>{{caixas.Tipo}} {{caixas.Categoria != "" ? ' - ' + caixas.Categoria : ''}}</td>
					<td>{{caixas.Material}}</td>
					<td>{{caixas.NGarrafas}}</td>
					<td>{{caixas.CapacidadeGarrafa}}</td>
					<td>{{caixas.Stock}}</td>
			  </tr>
		   </table>
		</div>
		<pagination-controls *ngIf="estadoTabelaCaixa" class="pagination" id="caixas" (pageChange)="p = $event" max-size="5" autoHide="true" previousLabel="ANTERIOR" nextLabel="PRÓXIMA"></pagination-controls>       
		<div *ngIf="caixasEVinhos.length == 0" style="text-align: center;">
			<h2 style="color: #8B0000;">Não existem modelos de caixa no sistema!</h2>
		</div> 
		<div *ngIf="!estadoTabelaCaixa && caixasEVinhos.length > 0" style="text-align: center;">
			<h2 style="color: #8B0000;">Não foram encontrados nenhuns registo de caixa com o filtro selecionado!</h2>
		</div>
	</div>
	<div style="display: grid; grid-gap: 5px;" *ngIf="modeloGarrafaSelecionado">
		<form [formGroup]="FiltroGarrafaForm" (ngSubmit)="pesquisaMarcaGarrafa(FiltroGarrafaForm.value)">
			<div class="itemNav">
				<select class="itemAno" formControlName="ano" (change)="onChangeGarrafa()" style="background: #eaeaae; color: #27270c;">
					<option [ngValue]="0">Ano</option>
					<option *ngFor="let ano of anos" [ngValue]="ano">{{ano}}</option>
				</select>
				<select class="itemCapacidade" formControlName="capacidade" (change)="onChangeGarrafa()" style="background: #eaeaae; color: #27270c;">
					<option [ngValue]="0">Capacidade</option>
					<option *ngFor="let capacidade of capacidades" [ngValue]="capacidade">{{capacidade}}</option>
				</select>
				<select class="itemVinho" formControlName="tipoVinho" (change)="onChangeGarrafa()" style="background: #eaeaae; color: #27270c;">
					<option [ngValue]="0">Tipo de Vinho</option>
					<option *ngFor="let tipoVinho of tipoVinhos" [ngValue]="tipoVinho">{{tipoVinho}}</option>
				</select>
				<select class="itemCategoria" formControlName="categoria" (change)="onChangeGarrafa()" style="background: #eaeaae; color: #27270c;">
					<option [ngValue]="0">Categoria</option>
					<option value="Normal">S/Categoria</option>
					<option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria}}</option>
				</select>
				<input class="itemInput" type="text" formControlName="marca" placeholder="Insira aqui o nome da marca de vinho a pesquisar...">
				<button type="submit" class="itemBtn" style="font-size: 11px;" [disabled]="!FiltroGarrafaForm.valid">Pesquisar</button>                
				<a class="itemClear" (click)="clearTabelaGarrafa()" style="font-size: 11px;">Limpar Pesquisa</a>
			</div>
		</form>
		<div class="main-table" *ngIf="estadoTabelaGarrafa && garrafasEVinhos.length > 0">
		   <table>
			  <tr>
				<th>MODELO</th>
				<th>LOTE</th>
				<th>TIPO VINHO</th>
				<th>CAPACIDADE(/L)</th>
				<th>C/RÓTULO</th>
				<th>S/RÓTULO</th>
			  </tr>
			  <tr *ngFor="let garrafas of garrafasEVinhos | paginate: { id: 'garrafas', itemsPerPage: 10, currentPage: p }">
				<td>{{garrafas.Id}}</td>
            <td>{{garrafas.Marca}}-{{garrafas.Ano}}{{garrafas.Pipa != 0 ? '-' + garrafas.Pipa : ''}}</td>
            <td>{{garrafas.Tipo}} {{garrafas.Categoria != "" ? ' - ' + garrafas.Categoria : ''}}</td>
            <td>{{garrafas.Capacidade}} l</td>
				<td>{{garrafas.CRotulo}}</td>
				<td>{{garrafas.SRotulo}}</td>
			  </tr>
		   </table>
		</div>
		<pagination-controls *ngIf="estadoTabelaGarrafa" class="pagination" id="garrafas" (pageChange)="p = $event" max-size="5" autoHide="true" previousLabel="ANTERIOR" nextLabel="PRÓXIMA"></pagination-controls>
		<div *ngIf="garrafasEVinhos.length == 0" style="text-align: center;">
			<h2 style="color: #8B0000;">Não existem modelos de garrafa no sistema!</h2>
	  	</div>  
		<div *ngIf="!estadoTabelaGarrafa && garrafasEVinhos.length > 0" style="text-align: center;">
			<h2 style="color: #8B0000;">Não foram encontrados nenhuns registo de garrafa com o filtro selecionado!</h2>
		</div>
	</div>
	<div style="margin: 5px 0 5px 0;"></div>
	<form class="itemForm" [formGroup]="DadosEncomendaForm" (ngSubmit)="novoRegisto(DadosEncomendaForm.value, DadosCaixaForm.value)">
		<h4>Encomenda por Caixas só com um modelo de garrafa</h4>		
		<form [formGroup]="DadosCaixaForm" style="display: grid; grid-gap: 5px;">
			<div class="itemFormTabelaCaixasNormais" style="background-color: #27270c;">
				<h4>Modelos Caixa</h4>
				<h4>Modelos Garrafa</h4>
				<h4>Quantidade Caixas</h4>
				<h4>Acções</h4>
			</div>
			<div formArrayName="linhaCaixas" style="display: grid; grid-gap: 5px">
				<div *ngFor="let linha of DadosCaixaForm.controls.linhaCaixas.controls; let i=index" [formGroupName]="i">
					<div class="itemFormTabelaCaixasNormais">
						<select formControlName="caixa" (change)="onChangeModeloCaixa(i)">
							<option value="" disabled>Modelos Caixa</option>
							<option *ngFor="let caixa of caixasEVinhosAux" [ngValue]="caixa.ID"> {{caixa.ID}} </option>
						</select>
						<div class="alerta itemCaixa" *ngIf="linha.controls['caixa'].hasError('required') && linha.controls['caixa'].touched">
							Selecione um Modelo de Caixa
						</div>	
						<select formControlName="garrafa">
							<option value="" disabled>Modelos Garrafa</option>
							<option *ngFor="let garrafa of modeloCapacidadeGarrafa[i]" [ngValue]="garrafa.Id"> {{garrafa.Id}} </option>
						</select>
						<div class="alerta itemGarrafa" *ngIf="linha.controls['garrafa'].hasError('required') && linha.controls['garrafa'].touched">
							Selecione um Modelo de Garrafa
						</div>			
						<input type="number" formControlName="quantidade" placeholder="Insira aqui a quantidade de caixas...">
						<div class="alerta itemQuantidade" *ngIf="linha.controls['quantidade'].hasError('required') && linha.controls['quantidade'].touched">
							Quantidade obrigatória
						</div>
						<div class="alerta itemQuantidade" *ngIf="!linha.controls['quantidade'].hasError('required') && linha.controls['quantidade'].hasError('min')">
							Insira uma quantidade positiva
						</div>
						<div class="alerta itemQuantidade" *ngIf="!linha.controls['quantidade'].hasError('required') && !linha.controls['quantidade'].hasError('min') && linha.hasError('ValidQuantidadeCaixas')">
							Não existe essa quantidade de caixas em stock
						</div>
						<div class="alerta itemQuantidade" *ngIf="!linha.controls['quantidade'].hasError('required') && !linha.controls['quantidade'].hasError('min') && !linha.hasError('ValidQuantidadeCaixas') && linha.hasError('ValidQuantidadeGarrafas')">
							Não existe essa quantidade de garrafas rotuladas em stock
						</div>						
						<div class="alerta itemErro" *ngIf="!linha.controls['caixa'].hasError('required') && !linha.controls['garrafa'].hasError('required') && linha.hasError('ValidCaixasRegisto')">
							Já existe na lista de encomenda um registo com o mesmo modelo de caixa e de garrafa
						</div>
						<a class="itemClear" (click)="apagarLinhaCaixasNormais(i)" style="font-size: 11px;" *ngIf="DadosCaixaForm.controls.linhaCaixas.controls.length > 1">Limpar Registo</a>	
					</div>
				</div>
				<div class="addRow">
					<a class="itemClear itemAdd" (click)="adicionarLinhaCaixasNormais()" style="font-size: 11px;">Adicionar Caixas</a>
				</div>
			</div>
			<div style="margin: 10px 0 10px 0;"></div>
			<h4>Encomenda por Caixas com vários modelos de garrafa</h4>
			<div formArrayName="linhaModelo" style="display: grid; grid-gap: 5px">
				<div *ngFor="let linha of DadosCaixaForm.controls.linhaModelo.controls; let i=index" [formGroupName]="i" style="display: grid; grid-gap: 5px">
					<h4>Caixa especial Nº{{i+1}}</h4>
					<div class="itemFormCaixaQuantidade">
						<select class="itemFormCaixa" formControlName="caixa" (change)="onChangeModeloCaixaEspecial(i)">
							<option value="" disabled>Modelos Caixa</option>
							<option *ngFor="let caixa of caixasEVinhosAux" [ngValue]="caixa.ID">{{caixa.ID}}</option>
						</select>									
						<div class="alerta itemGarrafa" *ngIf="linha.controls['caixa'].hasError('required') && linha.controls['caixa'].touched">
							Selecione um Modelo de Caixa
						</div>
						<input type="number" formControlName="quantidadeCaixa" placeholder="Insira aqui a quantidade de caixas...">									
						<div class="alerta itemQuantidade" *ngIf="linha.controls['quantidadeCaixa'].hasError('required') && linha.controls['quantidadeCaixa'].touched">
							Quantidade obrigatória
						</div>
						<div class="alerta itemQuantidade" *ngIf="!linha.controls['quantidadeCaixa'].hasError('required') && linha.controls['quantidadeCaixa'].hasError('min')">
							Insira uma quantidade positiva
						</div>
						<div class="alerta itemQuantidade" *ngIf="!linha.controls['quantidadeCaixa'].hasError('required') && !linha.controls['quantidadeCaixa'].hasError('min') && linha.hasError('ValidQuantidadeCaixas')">
							Não existe essa quantidade de caixas em stock
						</div>
					</div>
					<div style="margin: 5px 0 0 0;"></div>
					<div class="itemFormQuantidade" style="background-color: #27270c;">
						<h4>Modelos Garrafa</h4>
						<h4>Quantidade Garrafas</h4>
						<h4>Acções</h4>
					</div>
					<div formArrayName="linhaGarrafa" style="display: grid; grid-gap: 5px">
						<div class="itemFormQuantidade" *ngFor="let linhaG of linha.controls.linhaGarrafa.controls; let j=index" [formGroupName]="j">
							<select formControlName="garrafa">
								<option value="" disabled>Modelos Garrafa</option>
								<option *ngFor="let garrafa of modeloCapacidadeGarrafaEspecial[i]" [ngValue]="garrafa.Id">{{garrafa.Id}}</option>
							</select>
							<div class="alerta itemCaixa" *ngIf="linhaG.controls['garrafa'].hasError('required') && linhaG.controls['garrafa'].touched">
								Selecione um Modelo de Garrafa
							</div>
							<input type="number" formControlName="quantidadeGarrafa" placeholder="Insira aqui a quantidade de caixas...">
							<div class="alerta itemGarrafa" *ngIf="linhaG.controls['quantidadeGarrafa'].hasError('required') && linhaG.controls['quantidadeGarrafa'].touched">
								Quantidade obrigatória
							</div>
							<div class="alerta itemGarrafa" *ngIf="!linhaG.controls['quantidadeGarrafa'].hasError('required') && linhaG.controls['quantidadeGarrafa'].hasError('min')">
								Insira uma quantidade positiva
							</div>						
							<div class="alerta itemGarrafa" *ngIf="!linhaG.controls['quantidadeGarrafa'].hasError('required') && !linhaG.controls['quantidadeGarrafa'].hasError('min') && !linhaG.hasError('ValidQuantidadeCaixas') && linhaG.hasError('ValidQuantidadeGarrafas')">
								Não existe essa quantidade de garrafas rotuladas em stock
							</div>															
							<div class="alerta itemGarrafa" *ngIf="!linhaG.controls['quantidadeGarrafa'].hasError('required') && !linhaG.controls['quantidadeGarrafa'].hasError('min') && !linhaG.hasError('ValidQuantidadeCaixas') && !linhaG.hasError('ValidQuantidadeGarrafas') && linhaG.hasError('ValidQuantidadeGarrafasPreenchidas')">
								Extravazou o limite de garrafas da caixa
							</div>	
							<div class="alerta itemErroEspecial" *ngIf="!linhaG.controls['garrafa'].hasError('required') && linhaG.hasError('ValidCaixasEspeciaisRegisto')">
								Já existe na lista de encomenda um registo com o mesmo modelo de garrafa
							</div>
							<a class="itemClear" (click)="apagarLinhaEspecial(linha.controls.linhaGarrafa, j)" style="font-size: 11px;" *ngIf="linha.controls.linhaGarrafa.length > 1">Limpar Registo</a>		
						</div>
					</div>
					<div class="addRow">
						<a class="itemClear itemAdd" (click)="adicionarLinhaCaixasEspeciais(linha)" style="font-size: 11px;">Adicionar Garrafas</a>
					</div>
					<div class="addRow">					
						<a class="itemClear itemAdd" (click)="apagarEspecial(i)" *ngIf="DadosCaixaForm.controls.linhaModelo.controls.length > 1" style="font-size: 11px; margin-bottom: 25px;">Limpar Caixa</a>
					</div>
				</div>
				<div class="addRow">
					<a class="itemClear itemAdd" (click)="adicionarEspecial()" style="font-size: 11px;">Nova Caixa</a>
				</div>
			</div>
		</form>
		<div style="margin: 10px 0 10px 0;"></div>
		<div class="main-registo">
			<h4>Nº Fatura</h4>
			<input type="text" formControlName="nFatura" placeholder="Insira aqui o número da fatura da encomenda...">
		</div>
		<div class="alerta" *ngIf="!DadosEncomendaForm.controls['nFatura'].valid && DadosEncomendaForm.controls['nFatura'].touched">
			Nº Fatura obrigatório (Valores só positivos)
		</div>
		<br>     
		<div class="main-registo">
			<h4>Comentário</h4>
			<input type="text" formControlName="comentario" placeholder="Insira aqui um comentário acerca do registo (opcional)...">
		</div>
		<div class="alerta" *ngIf="!DadosEncomendaForm.controls['comentario'].valid && DadosEncomendaForm.controls['comentario'].touched">
			Máx. 200 Caracteres
		</div>			
		<div style="margin: 10px 0 10px 0;"></div>
		<div class="registo-btn">
			<button type="submit" name="button" class="btn" [disabled]="getValidForm()">Inserir</button>
			<a class="btn" (click)="clearDados()">Limpar</a>
		</div>
		<br>
	</form>
 </div>
 