<div class="container">
    <h1 class="itemTitulo">Utilizadores - Contas</h1>
    <form [formGroup]="FiltroForm" (ngSubmit)="pesquisaUsername(FiltroForm.value)">
        <div class="itemNav">
            <div class="inserir">
                <a routerLink="/admin/contas/inserir" class="btn">Novo Utilizador</a>
            </div>
            <div class="filtros">
                <input class="itemInput" type="text" formControlName="username" placeholder="Insira aqui o nome da marca de vinho a pesquisar...">
                <button type="submit" class="itemBtn" style="font-size: 11px;" [disabled]="!FiltroForm.valid">Pesquisar</button>
                <a class="itemClear" (click)="clearTabela()" style="font-size: 11px;">Limpar Pesquisa</a>
            </div>       
        </div>
    </form>
    <div class="main-table" *ngIf="estadoTabela && users.length > 0">
       <table>
          <tr>
             <th>EMAIL</th>
             <th>USERNAME</th>
             <th>AÇÕES</th>
          </tr>
          <tr *ngFor="let user of users | paginate: { id: 'users', itemsPerPage: 10, currentPage: p }">
             <td>{{user.Email}}</td>
             <td>{{user.Username}}</td>
             <td>
                <div class="action-btn">
                   <a class="btn" (click)="editarUser(user.Id)">Editar</a>
                   <a class="btn" (click)="eliminarUser(user.Id)">Eliminar</a>
                </div>
             </td>
          </tr>
       </table>
    </div>
    <pagination-controls *ngIf="estadoTabela" class="pagination" id="users" (pageChange)="p = $event" max-size="5" autoHide="true" previousLabel="ANTERIOR" nextLabel="PRÓXIMA"></pagination-controls>   
    <div *ngIf="users.length == 0" style="text-align: center;">
        <h2 style="color: #8B0000;">Não existem utilizadores no sistema!</h2>
    </div>
    <div *ngIf="!estadoTabela && users.length > 0" style="text-align: center;">
        <h2 style="color: #8B0000;">Não foram encontrados nenhuns registos de utilizadores com as opções indicadas!</h2>
    </div>
</div>