.btn{
    cursor: pointer;
}

button{
    align-items: unset;
    text-align: unset;
    box-sizing: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    text-rendering: unset;
    letter-spacing: unset;
    word-spacing: unset;
    display: unset;
    font: unset;
}

button:disabled{
    color: gray;
    cursor: not-allowed;
}

.alerta{
    font-size: 0.7rem;
    text-align: center;
    color: #8B0000;
}

select{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* container */
.container{
    display: grid;    
    grid-gap: 8px 0;
    grid-template-rows: 75px auto;
}

.container .itemTitulo{
    place-self: center;
    text-align: center;
}

.container h4{
    text-transform: uppercase;
    margin: 0.2rem 0;
    font-size: 0.8rem;
    text-align: center;
}

.container .itemNav{
    display: grid;
    grid-gap: 0 8px;
    grid-template-columns: repeat(4, 1fr) 2fr repeat(2, 1fr);
    align-items: center
}

.itemBtn{
    background: var(--primary);
    color: var(--dark1);
    text-decoration: none;
    text-align: center;
    cursor: pointer;    
    border-radius: 0.2rem;
}

.itemClear{
    cursor: pointer;
    align-self: end;
    background: var(--primary);
    color: var(--dark1);
    padding: 0.1rem;
    text-decoration: none;
    text-align: center;    
    border-radius: 0.2rem;
}

.itemNav a, .itemNav button{
    text-transform: uppercase;
    font-size: 13px;
}

.main-table table{
    display: table;
    width: 100%;
    height: unset;
    text-align: center;    
}

.main-table table, th, td{
    background: var(--dark1);    
    border-collapse: collapse;
    color: var(--primary);
    border: 1px solid #f4f4d7;
}

.main-table th{
    font-size: 14px;
    height: 45px;
    padding: 0 1px 0 1px;
}

.main-table td{
    font-size: 12px;
    height: 30px;
}

.itemForm{
    display: grid;
    grid-gap: 5px;
}

.main-registo{
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 1fr 1fr; 
    width: 60%;
    justify-self: center;
}

.main-registo h4{
    text-transform: uppercase;
    margin: 0.2rem 0;
    font-size: 0.8rem;
    text-align: center;
}

input[type=text], input[type=password], input[type=number], select{
    border: var(--primary);
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    background: var(--dark1);
    color: var(--light);
    text-align: center;
}

input[type=text], select, input[type=number]{
    justify-self: stretch;
    width: auto;
}

select{
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.registo-btn{
    display: grid;
    grid-gap: 0 8px;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    text-align: center;
    align-items: center;
    justify-self: center;
}

.btn{
    background: var(--primary);
    color: var(--dark1);
    padding: 0.6rem;
    text-decoration: none;
    box-shadow: var(--shadow);
    text-align: center;
    cursor: pointer;
}

.btn:hover, .itemClear:hover, .itemBtn:hover{
    background: var(--dark2);
    color: var(--light);
}

.pagination /deep/ .ngx-pagination{
    text-align: center;
    font-size: 12px;
    margin-top: 0;
    padding-left: 0;
}

.pagination /deep/ .ngx-pagination .current{
    background: var(--dark1);
    color: var(--primary);
}

.pagination /deep/ .ngx-pagination a{
    color: var(--dark1);
}

.pagination /deep/ .ngx-pagination a:hover{
    background: var(--dark2);
    color: var(--light);
}

/* media queries */
@media(max-width: 1200px){
    .main-registo{
        width: 80%; 
    }

    .registo-btn{
        width: 60%;
    }
}

@media(max-width: 875px){
    .itemInput{
        grid-column: 1 / 3;
    }

    .container .itemNav{
        grid-gap: 5px 8px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);        
    }

    .action-btn{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 575px){
    select{
        width:100%;
        max-width: 100%;
    }
}

@media(max-width: 575px){
    .main-nav ul, 
    .main-pesquisa, 
    .top-btn, 
    .action-btn,
    .encomenda-action-btn,
    .main-pesquisa,
    .main-encomenda,
    .form-pesquisa{
        grid-template-columns: 1fr;
    }
    
    .registo-btn{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 8px 0;
    }

    .main-table{
        overflow-x: auto;       
    }

    table{
        position: unset; 
    }

    .main-pesquisa, .main-encomenda{
        width: 100%;
    }
}

@media(max-width: 475px){
    .itemInput{
        grid-column: 1 / 3;
        grid-row: 3;
    }

    .container .itemNav{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    } 
}

@media(max-width: 425px){
    .itemInput{
        grid-column: unset;
        grid-row: 5;
    }

    .container .itemNav{
        grid-template-columns: 1fr;
    }  
}