<div class="container">
	<h1 class="itemTitulo">Editar Registo - Caixas</h1>
	<h4>Dados do Registo</h4>
    <div class="main-table" *ngIf="registo && caixa">
      <table>
         <tr>
            <th>MARCA</th>
			<th>TIPO DE VINHO</th>
			<th>MATERIAL</th>
			<th>GARRAFAS</th>
            <th>CAPACIDADE(/L)</th>
            <th>DATA</th>
            <th>OPERAÇÃO</th>
            <th>QUANTIDADE</th>
         </tr>
         <tr>
            <td>{{caixa.Marca}}</td>
            <td>{{caixa.Tipo}} {{caixa.Categoria != "" ? ' - ' + caixa.Categoria : ''}}</td>
			<td>{{caixa.Material}}</td>
			<td>{{caixa.NGarrafas}}</td>
			<td>{{caixa.CapacidadeGarrafa}}l</td>
            <td>{{registo.Data.slice(0, 19).replace('T', ' ')}}</td>
            <td>{{opcao}}</td>
            <td>{{registo.Quantidade}}</td>
         </tr>
      </table>
   </div>
   <br>
	<form class="itemForm" [formGroup]="RegistoForm" (ngSubmit)="editarRegisto(RegistoForm.value)">		
		<div class="main-registo">
			<h4>Comentário</h4>
			<input type="text" formControlName="comentario" placeholder="Insira aqui um comentário acerca do registo (opcional)...">
		</div>
		<div class="alerta" *ngIf="RegistoForm.controls['comentario'].hasError('ComentarioInalterado') && RegistoForm.controls['comentario'].touched">
			Comentário Inalterado
		</div>
		<div class="alerta" *ngIf="!RegistoForm.controls['comentario'].hasError('ComentarioInalterado') && RegistoForm.controls['comentario'].hasError('maxlength')">
			Máx. 200 Caracteres
		</div>
		<br> 
		<div class="registo-btn">
			<button type="submit" name="button" class="btn" [disabled]="!RegistoForm.valid">Editar</button>
			<a class="btn" (click)="clearDados()">Limpar</a>
		</div>
		<br>
	</form>
</div>