.container{
    display: grid;
    grid-gap: 8px 0;
    grid-template-rows: 75px auto;
}

.container .itemTitulo{
    place-self: center;
    text-align: center;
}

.itemForm{
    display: grid;
    grid-gap: 5px;
    justify-items: center;
}

.main-registo{
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 1fr 1fr; 
    width: 60%;
}

.main-registo h4{
    text-transform: uppercase;
    margin: 0.2rem 0;
    font-size: 0.8rem;
    text-align: center;
}

.main-registo input[type=text], input[type=password], input[type=number], select{
    border: var(--primary);
    padding: 0 0.5rem;
    border-radius: 0.2rem;
    background: var(--dark1);
    color: var(--light);
    text-align: center;
}

select{
    text-align-last: center;
    text-align: center;
    -ms-text-align-last: center;
    -moz-text-align-last: center;
}

.registo-btn{
    display: grid;
    grid-gap: 0 8px;
    grid-template-columns: 1fr 1fr;
    width: 40%;
    text-align: center;
    align-items: center;
}

.btn{
    background: var(--primary);
    color: var(--dark1);
    padding: 0.6rem;
    text-decoration: none;
    box-shadow: var(--shadow);
    text-align: center;
    cursor: pointer;
}

.btn:hover{
    background: var(--dark2);
    color: var(--light);
}

button{
    align-items: unset;
    text-align: unset;
    box-sizing: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
    text-rendering: unset;
    letter-spacing: unset;
    word-spacing: unset;
    display: unset;
    font: unset;
}

button:disabled{
    color: gray;
    cursor: not-allowed;
}

.alerta{
    font-size: 0.7rem;
    text-align: center;
    color: #8B0000;
}

select{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.registo-btn button, a{
    text-transform: uppercase;
    font-size: 13px;
}

/* media queries */
@media(max-width: 1200px){
    .main-registo{
        width: 80%; 
    }

    .registo-btn{
        width: 60%;
    }
}

@media(max-width: 575px){
    .main-nav ul, 
    .main-pesquisa, 
    .top-btn, 
    .action-btn,
    .encomenda-action-btn,
    .main-pesquisa,
    .main-encomenda,
    .form-pesquisa{
        grid-template-columns: 1fr;
    }

    .registo-btn{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 8px 0;
    }

    .main-pesquisa, .main-encomenda{
        width: 100%;
    }
}